// Colors
$grey : #333333;
$white : #ffffff;

// Navigation colors
$nav-background : $grey;
$nav-text-color: $white;

// Clock colors
$clock-text-color: $white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;