.controls {
    display         : flex;
    justify-content : center;

    .button {
        padding : .75rem 3rem;

        &:first-child {
            margin-right : 1.5rem;
        }
    }


}