.top-bar {
    background-color : $nav-background;

    ul {
        background-color : $nav-background;
    }

    .menu {
        > .menu-text > a {
            display : inline;
            padding : 0;
        }

        .menu-text {
            color : $white;
        }

        .active {
            font-weight : bold;
        }
    }
}
